.container {
  background-color: var(--branco-primario);
  padding: 21px 24px;

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;

    .data {
      font-size: 28px;
      font-weight: 800;
      line-height: 33px;
      margin: 0 0 8px;
    }

    .titulo {
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
      margin: 0;
    }

    .container-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .lista-participantes {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    .participante-item {
      border-bottom: 1px solid var(--amarelo-secundario);
      display: flex;
      font-size: 21px;
      font-weight: 700;
      justify-content: space-between;
      line-height: 25px;
      padding-bottom: 10px;
    }

    .participante-item:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .container-participante-item-texto {
      display: flex;
    }

    .confirmado {
      text-decoration: line-through;
    }
  }
}

// campo checkbox customizado
.campo-container {
  position: relative;

  .campo-participante {
    height: 25px;
    margin: 0 19px 0 0;
    visibility: hidden;
    width: 25px;
  }

  .campo-participante-final {
    border: 1px solid var(--amarelo-terciario);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    top: 0;
    width: 25px;
  }

  .campo-participante:checked + .campo-participante-final {
    background-color: var(--amarelo-primario);
    border: 1px solid var(--amarelo-primario);
  }
}