:root {
  --amarelo-primario: #FFD836;
  --amarelo-secundario: #E5C231;
  --amarelo-terciario: #998220;

  --branco-primario: #ffffff;
  --branco-secundario: #FAFAFA;

  --preto-primario: #000000;

  --vermelho-primario: red;
}
